html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="submit"],
input[type="button"],
input[type="search"],
button {
  -webkit-appearance: none; }

a {
  text-decoration: none;
  outline: 0 !important; }

.clearfix:after {
  clear: both;
  height: 0;
  display: block;
  content: ""; }

.table-block {
  display: table;
  width: 100%;
  height: 100%; }

.block-vertical {
  display: table-cell;
  vertical-align: middle; }

.block-bottom {
  display: table-cell;
  vertical-align: bottom; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1010px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  height: auto; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 50; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: left; }

.bx-wrapper .bx-pager.bx-default-pager a,
.owl-dot {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border: 2px solid #bebebe;
  outline: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #f86400;
  border-color: transparent; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  outline: 0;
  width: 100px;
  height: 100%;
  top: 0;
  text-indent: -9999px;
  z-index: 99; }

.bx-next {
  background: url(../img/works-next.png) no-repeat 50%;
  right: 0; }
  .bx-next:hover {
    background: url(../img/works-next-active.png) no-repeat 50%; }

.bx-prev {
  background: url(../img/works-prev.png) no-repeat 40%;
  left: 0; }
  .bx-prev:hover {
    background: url(../img/works-prev-active.png) no-repeat 40%; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  display: none; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.no-js .owl-carousel {
  display: block; }

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.owl-prev,
.owl-next {
  display: block;
  width: 14px;
  height: 23px;
  position: absolute;
  z-index: 2;
  top: 50%;
  opacity: 0.35;
  margin-top: -11.5px;
  text-indent: -9999px; }
  .owl-prev:hover,
  .owl-next:hover {
    opacity: 1; }

.owl-prev {
  left: 0;
  background: url(../img/prev-btn.png) no-repeat; }

.owl-next {
  right: 0;
  background: url(../img/next-btn.png) no-repeat; }

.owl-dot {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 2px solid #bebebe;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 6px; }
  .owl-dot.active {
    border-color: #da6417;
    background: #da6417; }

.owl-dots {
  text-align: center;
  padding-top: 15px; }

h1,
.h1 {
  font-size: 36px; }

h2,
.h2 {
  font-size: 30px; }

h3,
.h3 {
  font-size: 24px; }

h4,
.h4 {
  font-size: 18px; }

h5,
.h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

h6,
.h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

b,
strong {
  font-weight: bold; }

i {
  font-style: italic; }

.text-block {
  line-height: 1.7; }
  .text-block p, .text-block ul, .text-block ol, .text-block table, .text-block h2, .text-block h3, .text-block h4, .text-block h5 {
    margin-bottom: 30px; }
  .text-block a {
    color: #d070a9;
    text-decoration: underline; }
    .text-block a:hover {
      color: #6dcff6; }
  .text-block h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #363636; }
  .text-block ul li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px; }
    .text-block ul li:last-child {
      margin-bottom: 0; }
    .text-block ul li:before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 21px;
      height: 23px;
      left: 0;
      top: 5px;
      background: url(../img/galka-big.png) no-repeat; }
  .text-block ol {
    counter-reset: list; }
    .text-block ol li {
      position: relative;
      margin-bottom: 20px; }
      .text-block ol li:last-child {
        margin-bottom: 0; }
      .text-block ol li:before {
        counter-increment: list;
        content: counter(list) ". ";
        font-weight: bold;
        color: #d070a9;
        padding-right: 5px; }
  .text-block blockquote {
    position: relative;
    padding-left: 30px;
    color: #898989;
    margin-bottom: 30px; }
    .text-block blockquote:before {
      content: "";
      width: 22px;
      height: 19px;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      background: url(../img/q-before.png) no-repeat; }
    .text-block blockquote:after {
      content: "";
      width: 23px;
      height: 19px;
      display: inline-block;
      position: relative;
      top: 5px;
      background: url(../img/q-after.png) no-repeat; }
  .text-block img[align="right"] {
    margin-left: 15px; }
  .text-block img[align="left"] {
    margin-right: 15px; }
  .text-block table {
    width: 100%; }
    .text-block table thead td {
      background: #ebebeb;
      border: 1px solid #ebebeb; }
    .text-block table td {
      text-align: center;
      vertical-align: middle;
      padding: 15px 10px; }
    .text-block table tbody td {
      border: 1px solid #ebebeb; }

.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%); }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0; }

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; } }

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(../img/fancybox_sprite.png); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../img/fancybox_loading.gif) center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(blank.gif);
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

.fancybox-lock {
  overflow: visible !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(../img/fancybox_overlay.png); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

.ellipsis, .product__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.2; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.middle {
  display: inline-block;
  vertical-align: middle; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.table-top {
  display: table-cell;
  vertical-align: top; }

.wrapper {
  min-height: 100%;
  padding-bottom: 446px; }

.content {
  padding-bottom: 50px; }

img {
  max-width: 100%;
  height: auto; }

.facebook-icon {
  width: 31px;
  height: 31px;
  background: url(../img/facebook.png) no-repeat; }

.odnoklasniki-icon {
  width: 31px;
  height: 31px;
  background: url(../img/odnoklassniki.png) no-repeat;
  margin-left: 10px; }

.vk-icon {
  width: 31px;
  height: 31px;
  background: url(../img/Vkontakte.png) no-repeat;
  margin-left: 10px; }

.top-panel {
  background: #d1edfb;
  padding-top: 15px;
  padding-bottom: 30px;
  position: relative; }
  .top-panel:after {
    content: "";
    display: block;
    width: 100%;
    height: 9px;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    background: url(../img/top-bg.jpg) repeat-x; }
  .top-panel__menu {
    padding: 9px 0; }
    .top-panel__menu li {
      float: left; }
      .top-panel__menu li + li {
        margin-left: 25px; }
    .top-panel__menu a {
      color: #000;
      text-decoration: underline; }
  .top-panel__profile {
    padding: 5px 0; }
    .top-panel__profile__text {
      text-decoration: underline;
      margin-left: 5px;
      padding-top: 2px; }
    .top-panel__profile__link {
      color: #000;
      margin-right: 10px; }
      .top-panel__profile__link:last-child {
        margin-right: 0; }

.enter-icon {
  width: 23px;
  height: 23px;
  background: url(../img/enter.png) no-repeat; }

.register-icon {
  width: 23px;
  height: 23px;
  background: url(../img/pencil.png) no-repeat; }

.telephone {
  margin-bottom: 10px; }
  .telephone__text {
    font-size: 24px;
    float: left;
    letter-spacing: 0.5px; }

.get-call {
  float: right;
  position: relative;
  top: 4px; }

.link {
  color: #d070a9;
  border-bottom: 2px dotted #d070a9; }
  .link:hover {
    color: #6dcff6;
    border-color: #6dcff6; }
  .link_price {
    display: inline-block;
    margin-top: 4px; }

.telephone-search {
  width: 335px; }

.logo {
  width: 215px; }

.search-form {
  position: relative; }
  .search-form__field {
    display: block;
    width: 100%;
    height: 35px;
    outline: 0;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 45px; }
  .search-form__submit {
    display: block;
    text-align: center;
    width: 40px;
    height: 100%;
    background: #d070a9;
    outline: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    color: #fff;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    font-size: 18px; }
    .search-form__submit:hover {
      background: #6dcff6; }

.header__basket {
  width: 290px; }
  .header__basket__bottom {
    margin-top: 16px; }
  .header__basket__text {
    padding-top: 2px; }
  .header__basket__btn {
    width: 160px;
    padding-left: 15px;
    border: 2px solid #6dcff6;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px; }

.header__center {
  padding: 30px 0; }

.basket-icon {
  width: 25px;
  height: 21px;
  background: url(../img/basket.png) no-repeat;
  margin-right: 5px; }

.nav {
  background: #6dcff6; }
  .nav__menu {
    text-align: center; }
    .nav__menu li {
      display: inline-block;
      vertical-align: middle; }
      .nav__menu li:hover a, .nav__menu li.current a {
        background: #d070a9; }
    .nav__menu a {
      color: #fff;
      display: block;
      padding: 25px 20px;
      text-transform: uppercase;
      font-size: 18px; }

.banner {
  height: 38vw;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover; }

.advantages {
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 45px; }
  .advantages__item {
    text-align: center; }
    .advantages__item:first-child {
      color: #d070a9; }
    .advantages__item:nth-child(2) {
      color: #6dcff6; }
    .advantages__item:nth-child(3) {
      color: #3cb878; }
    .advantages__item:nth-child(4) {
      color: #f2ac2c; }
    .advantages__item:last-child {
      color: #eb6123; }
  .advantages__text {
    font-weight: bold;
    margin-top: 10px; }

.item-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 45px; }
  .item-title_center {
    text-align: center; }
  .item-title_seo {
    margin-bottom: 35px; }

.product {
  margin-bottom: 30px; }
  .product__label {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: 108px;
    height: 98px; }
    .product__label_new {
      background: url(../img/label-new.png) no-repeat; }
    .product__label_action {
      background: url(../img/label-action.png) no-repeat; }
    .product__label_sale {
      background: url(../img/label-sale.png) no-repeat; }
  .product__size {
    margin-bottom: 15px; }
    .product__size_hidden {
      display: none;
      margin-top: -15px; }
    .product__size__value {
      border: 1px solid #e1e1e1;
      padding: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      font-size: 12px;
      margin-right: 10px;
      position: relative; }
    .product__size__item {
      float: left;
      width: 50%;
      margin-bottom: 10px;
      position: relative; }
      .product__size__item.selected:before {
        content: "";
        display: block;
        width: 7px;
        height: 8px;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 50%;
        margin-top: -4px;
        background: url(../img/galka.png) no-repeat; }
  .product__carousel {
    padding-left: 50px;
    padding-right: 50px; }
    .product__carousel .owl-carousel .owl-stage-outer {
      padding-bottom: 50px; }
    .product__carousel .item {
      padding: 2px; }
    .product__carousel .owl-prev {
      left: -35px; }
    .product__carousel .owl-next {
      right: -35px; }
  .product__item {
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    position: relative; }
    .product__item:hover {
      border-color: #6dcff6;
      -webkit-box-shadow: 0px 0px 0px 1px #6dcff6;
      box-shadow: 0px 0px 0px 1px #6dcff6; }
  .product__img {
    height: 120px; }
  .product__name {
    margin-bottom: 10px; }
    .product__name a {
      color: #d070a9;
      text-decoration: underline; }
      .product__name a:hover {
        color: #6dcff6; }
  .product__price {
    margin-bottom: 10px; }

.count-plus {
  color: #d070a9;
  font-weight: bold;
  cursor: pointer; }

.count-minus {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; }

.count-field {
  width: 22px;
  height: 22px;
  text-align: center;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: 0; }
  .count-field_card {
    width: 24px;
    height: 24px;
    border: 1px solid #bbbbbb;
    -webkit-box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.07);
    box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.07);
    margin-left: 5px;
    margin-right: 5px; }
    .count-field_card_basket {
      width: 50px; }

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 150px;
  padding: 6px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  border: 0;
  outline: 0;
  cursor: pointer; }
  .btn-purple {
    color: #fff;
    background: #d070a9; }
    .btn-purple:hover {
      background: #6dcff6; }
  .btn-blue {
    background: #6dcff6;
    color: #fff; }

.suppliers {
  margin-bottom: 20px; }
  .suppliers__item {
    padding-left: 15px;
    padding-bottom: 20px; }
  .suppliers__content {
    margin-left: -15px; }
  .suppliers__img {
    height: 125px;
    border: 1px solid #d7d7d7;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

.seo {
  line-height: 1.7; }
  .seo__left {
    padding-right: 20px; }
    .seo__left p {
      margin-bottom: 30px; }
  .seo__right {
    padding-left: 20px; }

.news__item {
  margin-bottom: 20px; }

.news__date {
  margin-bottom: 5px;
  font-size: 12px;
  color: #959595; }

.news__link {
  margin-bottom: 5px; }
  .news__link a {
    color: #d070a9;
    text-decoration: underline; }
    .news__link a:hover {
      color: #6dcff6; }

.news__all {
  text-align: right; }
  .news__all a {
    color: #d070a9;
    text-decoration: underline; }
    .news__all a:hover {
      color: #6dcff6; }

.footer {
  margin-top: -446px; }
  .footer__top {
    background: #6dcff6;
    padding: 30px 0; }
  .footer__bottom {
    background: #d1edfb;
    padding: 10px 0;
    position: relative; }
    .footer__bottom:before {
      content: "";
      display: block;
      background: url(../img/bottom-bg.png) repeat-x;
      width: 100%;
      position: absolute;
      z-index: 2;
      left: 0;
      top: -11px;
      height: 11px; }
  .footer__logo {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px; }
    .footer__logo a {
      color: #fff; }
  .footer__text {
    line-height: 1.7; }
    .footer__text p {
      margin-bottom: 30px; }
  .footer__item {
    max-width: 310px;
    padding-top: 15px; }
    .footer__item:first-child {
      padding-top: 0; }
    .footer__item h4 {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 20px; }
  .footer__menu li {
    margin-bottom: 20px; }
  .footer__menu a {
    text-decoration: underline;
    color: #000; }
  .footer__contacts__item {
    margin-bottom: 20px; }
    .footer__contacts__item_social {
      padding-left: 30px; }
    .footer__contacts__item a {
      color: #000;
      text-decoration: underline; }
  .footer__contacts__icon {
    width: 30px;
    text-align: center;
    color: #d1edfb;
    font-size: 20px; }
  .footer__contacts__tel {
    font-size: 24px; }

.vk-icon-footer {
  width: 35px;
  height: 35px;
  background: url(../img/vk-footer.png) no-repeat; }

.facebook-icon-footer {
  width: 35px;
  height: 35px;
  background: url(../img/facebook-footer.png) no-repeat;
  margin-left: 10px; }

.twitter-icon-footer {
  width: 35px;
  height: 35px;
  background: url(../img/twitter-footer.png) no-repeat;
  margin-left: 10px; }

.copyright {
  line-height: 1.5; }

.paypall {
  padding-top: 6px; }

.breadcrumb {
  padding-top: 35px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #000;
  margin-bottom: 45px; }
  .breadcrumb__arrow {
    margin: 0 10px;
    color: #d070a9;
    font-size: 20px;
    line-height: 1; }
  .breadcrumb li {
    display: inline-block;
    vertical-align: middle; }
  .breadcrumb a {
    color: #d070a9;
    text-decoration: underline; }

.page-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 45px; }

.view-btn {
  width: 25px;
  height: 25px; }
  .view-btn_column {
    background: url(../img/column.png) no-repeat; }
    .view-btn_column.active, .view-btn_column:hover {
      background: url(../img/column-active.png) no-repeat; }
  .view-btn_list {
    margin-left: 5px;
    background: url(../img/list.png) no-repeat; }
    .view-btn_list.active, .view-btn_list:hover {
      background: url(../img/list-active.png) no-repeat; }

.square-icon {
  width: 23px;
  height: 24px;
  margin-right: 10px;
  background: url(../img/square.png) no-repeat; }

.filter {
  padding: 25px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 50px; }
  .filter__sort_price {
    color: #000;
    margin-left: 10px; }
  .filter__sort_alph {
    margin-left: 20px;
    color: #000;
    text-decoration: underline; }
  .filter__item {
    margin-right: 35px; }
    .filter__item:last-child {
      margin-right: 0; }
  .filter__page {
    color: #000;
    margin-left: 10px; }
    .filter__page.active {
      color: #d070a9;
      font-weight: bold; }

.sorting-arrow {
  width: 13px;
  height: 22px;
  margin-left: 3px; }
  .sorting-arrow_up.active {
    background: url(../img/sort-up-active.png) no-repeat; }
  .sorting-arrow_bottom {
    background: url(../img/sort-bottom.png) no-repeat; }

.catalog__content {
  margin-left: -20px; }

.catalog__column__block {
  border: 1px solid #d7d7d7;
  margin-bottom: 25px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px; }
  .catalog__column__block:hover {
    border-color: #6dcff6;
    -webkit-box-shadow: 0px 0px 0px 1px #6dcff6;
    box-shadow: 0px 0px 0px 1px #6dcff6; }

.catalog__column__item {
  height: 140px;
  text-align: center; }

.catalog__column .product__name {
  max-width: 190px;
  margin-bottom: 0; }

.catalog__column .product__size__item {
  text-align: right;
  margin-bottom: 5px;
  margin-top: 5px; }
  .catalog__column .product__size__item:nth-child(odd) {
    text-align: left; }

.catalog__column .product__size {
  margin-bottom: 0;
  width: 180px; }

.catalog__column .product__size__value {
  margin-right: 5px; }

.catalog__column .product__price {
  font-size: 18px;
  margin-bottom: 0; }

.catalog__item {
  border: 1px solid #d7d7d7;
  text-align: center;
  padding: 15px 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  position: relative; }

.catalog__block {
  padding-left: 20px;
  padding-bottom: 20px;
  height: 335px; }
  .catalog__block_main {
    padding-left: 0;
    padding-bottom: 0; }
  .catalog__block:hover .catalog__item {
    z-index: 2;
    border-color: #6dcff6;
    -webkit-box-shadow: 0px 0px 0px 1px #6dcff6;
    box-shadow: 0px 0px 0px 1px #6dcff6; }
  .catalog__block:hover .product__size_hidden {
    display: block; }

.pagination {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 50px;
  position: relative; }
  .pagination__prev {
    color: #d070a9;
    text-decoration: underline;
    margin-right: 15px; }
    .pagination__prev:hover {
      color: #6dcff6; }
  .pagination__next {
    color: #d070a9;
    text-decoration: underline;
    margin-left: 15px; }
    .pagination__next:hover {
      color: #6dcff6; }
  .pagination__pages li {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px; }
    .pagination__pages li.active a, .pagination__pages li:hover a {
      background: #6dcff6; }
    .pagination__pages li a {
      display: block;
      color: #000;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
  .pagination .filter__item {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 22px; }

.text-container {
  margin-top: 40px;
  line-height: 1.6; }
  .text-container p {
    margin-bottom: 30px; }

.tab-item {
  display: none; }
  .tab-item.active {
    display: block; }

.card {
  margin-bottom: 70px; }
  .card__img {
    text-align: center;
    height: 350px; }
  .card__table {
    border-top: 1px solid #e1e1e1;
    margin-bottom: 35px; }
    .card__table table {
      width: 100%;
      text-align: center; }
    .card__table thead {
      font-weight: bold; }
      .card__table thead td {
        padding: 20px 0; }
    .card__table tbody td {
      padding: 10px 0; }
    .card__table td {
      border-bottom: 1px solid #e1e1e1;
      vertical-align: middle; }
  .card__price {
    margin-bottom: 50px; }
    .card__price__prev {
      text-decoration: line-through;
      font-size: 18px;
      color: #898989;
      margin-right: 25px; }
    .card__price__today {
      color: #d070a9;
      font-size: 30px;
      font-weight: bold; }
  .card__checkbox {
    margin-top: -20px;
    margin-left: 15px; }
  .card__add {
    text-align: right;
    margin-bottom: 25px; }
    .card__add .btn {
      text-align: center; }
  .card__description {
    line-height: 1.5; }

.status-green {
  color: #3cb878; }

.status-red {
  color: #a12a30; }

.thumb__item {
  float: left;
  display: block;
  text-align: center;
  width: 33.3%;
  height: 130px; }

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px; }

.checkbox + label {
  cursor: pointer; }

.checkbox:not(checked) {
  position: absolute;
  opacity: 0; }

.checkbox:not(checked) + label {
  position: relative;
  padding: 0; }

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 21px;
  background: url(../img/checkbox.png) no-repeat; }

.checkbox:checked + label:before {
  background: url(../img/checkbox-active.png) no-repeat; }

.checkbox_order + label {
  padding-left: 25px !important; }
  .checkbox_order + label:before {
    top: -1px !important; }

.commentary {
  padding-top: 40px;
  border-top: 1px solid #e1e1e1;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 40px; }
  .commentary-form__content {
    max-width: 550px;
    margin: auto;
    margin-bottom: 60px; }
  .commentary__item {
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1; }
    .commentary__item p {
      margin-bottom: 0; }
  .commentary__left {
    width: 140px; }
  .commentary__name {
    font-weight: bold;
    margin-bottom: 10px; }
  .commentary__date {
    color: #898989; }
  .commentary__inner {
    background: #ebebeb;
    padding: 15px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px; }
    .commentary__inner:before {
      content: "";
      width: 33px;
      height: 28px;
      position: absolute;
      z-index: 2;
      left: -40px;
      top: 0;
      background: url(../img/com-arrow.png) no-repeat; }
    .commentary__inner__left {
      width: 100px; }

.form-control {
  display: block;
  width: 100%;
  height: 35px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 0;
  border: 1px solid #bbbbbb;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.07);
  box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.07); }
  .form-control_cupon {
    width: 190px;
    display: inline-block;
    vertical-align: middle; }

.form-group {
  margin-bottom: 15px; }
  .form-group_right {
    text-align: right; }

textarea.form-control {
  height: 120px;
  resize: none;
  padding-top: 20px;
  padding-bottom: 20px; }

.also-buy {
  padding-top: 40px;
  border-top: 1px solid #e1e1e1; }

.basket {
  margin-bottom: 60px; }
  .basket__cupon {
    margin-bottom: 20px; }
    .basket__cupon__title {
      margin-right: 15px; }
  .basket__name {
    text-transform: uppercase;
    margin-bottom: 5px; }
  .basket__link {
    text-decoration: underline;
    color: #d070a9; }
  .basket__table {
    width: 100%; }
    .basket__table thead {
      font-weight: bold; }
    .basket__table td {
      vertical-align: middle;
      padding: 15px 0;
      border-bottom: 1px solid #e1e1e1;
      text-align: center; }
      .basket__table td:nth-child(2) {
        text-align: left; }
    .basket__table tbody td {
      padding: 25px 0; }
  .basket__price {
    font-size: 14px; }
    .basket__price span {
      color: #d070a9;
      font-weight: bold; }
  .basket__prev-price {
    text-decoration: line-through;
    margin-top: 10px;
    font-size: 12px;
    color: #737373; }
  .basket__total {
    text-align: right;
    margin-top: 30px; }
    .basket__total__item {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 15px; }
      .basket__total__item span {
        color: #d070a9; }

.delete-btn {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url(../img/delete.png) no-repeat; }

.order__right {
  padding-left: 85px; }

.order__checkbox__item {
  margin-bottom: 15px; }
  .order__checkbox__item_green {
    margin: 95px 0; }
    .order__checkbox__item_green label {
      color: #3cb878;
      font-weight: bold; }

.icon-bar {
  width: 30px;
  height: 3px;
  background: #6dcff6; }
  .icon-bar + .icon-bar {
    margin-top: 5px; }

.navbar-toggle {
  cursor: pointer; }

.mobile-panel {
  position: absolute;
  z-index: 10;
  right: 0;
  top: -100%;
  color: #fff;
  background: #6dcff6;
  width: 100%;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  .mobile-panel.active {
    top: 0;
    opacity: 1;
    visibility: visible; }
  .mobile-panel__menu {
    margin-bottom: 20px; }
    .mobile-panel__menu li {
      margin-bottom: 10px; }
    .mobile-panel__menu a {
      color: #fff;
      text-decoration: underline; }
  .mobile-panel__category li {
    margin-bottom: 10px; }
  .mobile-panel__category a {
    text-transform: uppercase;
    color: #fff; }

.close-panel {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 5px;
  font-size: 24px;
  line-height: 1;
  cursor: pointer; }

select {
  width: 100%;
  display: block;
  height: 35px;
  -webkit-appearance: none;
  background-image: url("../img/select-drop.png");
  background-position: 98% center;
  background-repeat: no-repeat;
  line-height: 1em;
  outline: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none !important;
  border: 1px solid #bbbbbb;
  padding-left: 15px;
  padding-right: 15px; }

select::-ms-expand {
  display: none; }
